section.thumbnails {
  margin-block: 9.2rem 12rem;
  padding-inline: 2.4rem;
  margin-inline: auto;
  max-width: 37.5rem;
}

section.zx9 {
  align-items: center;
  background-color: #d87d4a;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  height: 60rem;
  justify-content: flex-end;
  margin-bottom: 2.4rem;
  margin-inline: auto;
  max-width: 32.7rem;
  padding-inline: 2.4rem;
  position: relative;

  & > img.zx9__underlay {
    border-radius: 0;
    display: inline-block;
    height: 55.8rem;
    left: 50%;
    transform: translate(-50%, 0);
    mix-blend-mode: normal;
    position: absolute;
    top: -12.1rem;
    width: 55.8rem;
  }

  & > img.zx9__product {
    height: 20.7rem;
    left: 50%;
    position: absolute;
    top: 5.5rem;
    transform: translate(-50%, 0);
    width: 17.2rem;
  }

  & > h1 {
    color: #fff;
    font-family: Manrope;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.13rem;
    line-height: 4rem;
    margin-bottom: 2.4rem;
    text-align: center;
    text-transform: uppercase;
  }

  & > p {
    color: #fff;
    font-family: Manrope;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 2.4rem;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-align: center;
  }

  & > button {
    background: #000;
    border: 0;
    color: #fff;
    display: block;
    font-family: Manrope;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    height: 4.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    margin-bottom: 5.5rem;
    margin-inline: auto;
    outline: 0;
    text-transform: uppercase;
    width: 16rem;
  }
}

section.zx7 {
  background: #f1f1f1;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  height: 32rem;
  margin-bottom: 2.4rem;
  margin-inline: auto;
  justify-content: center;
  max-width: 32.7rem;
  position: relative;
  padding-inline: 2.4rem;

  & > img.zx7__product {
    border-radius: 0.8rem;
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 32.7rem;
  }

  & > h1 {
    color: #000;
    font-family: Manrope;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    isolation: isolate;
    letter-spacing: 2px;
    line-height: 3.8rem;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
  }

  & > button {
    background: #f1f1f1;
    border: 1px solid #1f1f1f;
    color: #000;
    display: block;
    font-family: Manrope;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    height: 4.8rem;
    isolation: isolate;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
    outline: 0;
    text-transform: uppercase;
    width: 16rem;
  }
}

section.yx1 {
  align-content: space-between;
  border-radius: 0.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 20rem);
  height: 42.4rem;
  margin-bottom: 12rem;
  margin-inline: auto;
  max-width: 32.7rem;

  img.yx1__product {
    border-radius: 0.8rem;
    display: block;
    width: 100%;
  }

  & > div {
    align-items: center;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h1 {
      color: #000;
      font-family: Manrope;
      font-size: 2.8rem;
      font-style: normal;
      font-weight: 700;
      isolation: isolate;
      letter-spacing: 0.2rem;
      line-height: 3.8rem;
      text-transform: uppercase;
      margin-bottom: 3.2rem;
    }

    & > button {
      background: #f1f1f1;
      border: 1px solid #1f1f1f;
      color: #000;
      display: block;
      font-family: Manrope;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 700;
      height: 4.8rem;
      isolation: isolate;
      letter-spacing: 0.1rem;
      line-height: 1.8rem;
      outline: 0;
      text-transform: uppercase;
      width: 16rem;
    }
  }
}

section.about {
  background: #fafafa;
  border-radius: 0.8rem;
  height: 69.8rem;
  margin-bottom: 12rem;
  margin-inline: auto;
  max-width: 32.7rem;

  & > img.best__gear {
    border-radius: 0.8rem;
    display: block;
    height: 30rem;
    width: 100%;
  }

  & > h1 {
    color: #000;
    font-family: Manrope;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 3.8rem;
    margin-top: 4rem;
    text-align: center;
    text-transform: uppercase;

    & > span {
      color: #d87d4a;
    }
  }

  & > p {
    color: #000;
    font-family: Manrope;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    margin-top: 3.2rem;
    mix-blend-mode: normal;
    opacity: 0.5;
    text-align: center;
  }
}
