@use "./styles/breaks.scss" as *;

div.root {
  @include breaks(mobile) {
    display: grid;
    grid-area: app;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 60rem 1fr 65.4rem;
  }

  @include breaks(tablet) {
    background-color: red;
  }

  @include breaks(desktop) {
    background-color: green;
  }

  & > header {
    background-color: #191919;
    display: grid;
    grid-area: header;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 9rem 1fr;
  }

  & > main {
    background-color: #fafafa;
    grid-area: main;
    z-index: 1;
    &.menuOpen {
      filter: brightness(0.25);
    }
  }
}
